<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>bootstrap | test</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<nav class="user_nav">
		<div class="nav_actions">
			<i>محمد البشاري</i>
			<i onclick="location.href='/gg'">
				<img src="/icons/plus.png">
			</i>
			<i onclick="location.href='/gg'">
				<img src="/icons/plus.png">
			</i>
			<i onclick="location.href='/gg'">
				<img src="/icons/plus.png">
			</i>
		</div>
	</nav>
	<center>
		<div class="label">
			<h3>عروضي</h3>
		</div>
		<div class="row" style="width: 100%;">
			<div class="off_card_container col-12 col-md-6">
				<div class="off_card sdw">
					<div class="off_card_header row">
						<div class="col-8 off_card_owner" style="background-color: ;">
							<h3>محمد فتحي</h3>
						</div>
						<div class="col-4" style="background-color: ;">
							<img src="/icons/avatar.svg">
						</div>
					</div>
					<div class="off_card_about">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat...
					</div>
					<div class="off_card_btn">
						<button class="button btun btn-bill">تعديل</button>
						<button class="button btun btn-bill danger_btn">حزف  </button>
					</div>
				</div>
			</div>

			<div class="off_card_container col-12 col-md-6">
				<div class="off_card sdw">
					<div class="off_card_header row">
						<div class="col-8 off_card_owner" style="background-color: ;">
							<h3>محمد فتحي</h3>
						</div>
						<div class="col-4" style="background-color: ;">
							<img src="/icons/avatar.svg">
						</div>
					</div>
					<div class="off_card_about">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat...
					</div>
					<div class="off_card_btn">
						<button class="button btun btn-bill">تعديل</button>
						<button class="button btun btn-bill danger_btn">حزف  </button>
					</div>
				</div>
			</div>
			
			<div class="off_card_container col-12 col-md-6">
				<div class="off_card sdw">
					<div class="off_card_header row">
						<div class="col-8 off_card_owner" style="background-color: ;">
							<h3>محمد فتحي</h3>
						</div>
						<div class="col-4" style="background-color: ;">
							<img src="/icons/avatar.svg">
						</div>
					</div>
					<div class="off_card_about">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat...
					</div>
					<div class="off_card_btn">
						<button class="button btun btn-bill">تعديل</button>
						<button class="button btun btn-bill danger_btn">حزف  </button>
					</div>
				</div>
			</div>
			
			<div class="off_card_container col-12 col-md-6">
				<div class="off_card sdw">
					<div class="off_card_header row">
						<div class="col-8 off_card_owner" style="background-color: ;">
							<h3>محمد فتحي</h3>
						</div>
						<div class="col-4" style="background-color: ;">
							<img src="/icons/avatar.svg">
						</div>
					</div>
					<div class="off_card_about">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat...
					</div>
					<div class="off_card_btn">
						<button class="button btun btn-bill">تعديل</button>
						<button class="button btun btn-bill danger_btn">حزف  </button>
					</div>
				</div>
			</div>
			
		</div>
	</center>
</body>
</html>