<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>bootstrap | test</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<nav>
		<h2>logo</h2>
	</nav>
	<center>
		<div class="container">
			<div class="row main_box">
				<div class="col-md-7 col-sm-14 img_side">
					<img src="/icons/img2.svg">
				</div>
				<div class="col-md-5 col-sm-14 actions_side">
					<div class="login_header">
						<h3>Welcome boy</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore.</p>
					</div>
					<div class="login_form_container text-right">
						<form>
							<div class="login_field_container row">
								<div class="col-2">
									<img src="/icons/users.svg">
								</div>
								<div class="col-10">
									<input required placeholder="Username..." type="text" name="">
								</div>
							</div>
							<div class="login_field_container row  odd_field _button_radious">
								<div class="col-2">
									<img src="/icons/lock.svg">
								</div>
								<div class="col-10">
									<input required placeholder="Password..." type="password" name="">
								</div>
							</div>
							<div class="row login_buttons button_radious">
								<div class="col-md-5">
									<button type="submit" class="button btun btn-bill btun_secondary">Login</button>
								</div>
								<div class="col-md-5">
									<button type="button" class="button btun btn-bill" onclick="location.href='/register'">Register</button>
								</div>
							</div>
						</form>
					</div>
					<div class="err">
						<p>There is something worng</p>
					</div>
				</div>
			</div>
			<div class="cards_box">
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="card">
							<div class="card-block">
								<img src="/imgs/3.jpeg" class="img-fluid">
								<div class="card-title">
									<h2>title 1</h2>
								</div>
								<div class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut.
								</div>
								<button class="btun btn-bill">click me</button>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="card">
							<div class="card-block">
								<img src="/imgs/2.jpeg" class="img-fluid">
								<div class="card-title">
									<h2>title 1</h2>
								</div>
								<div class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut.
								</div>
								<button class="btun btn-bill">click me</button>
							</div>
						</div>
					</div>

					<div class="col-md-4 col-sm-6">
						<div class="card">
							<div class="card-block">
								<img src="/imgs/1.jpeg" class="img-fluid">
								<div class="card-title">
									<h2>title 1</h2>
								</div>
								<div class="card-text">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
									tempor incididunt ut.
								</div>
								<button class="btun btn-bill">click me</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</center>		
	<footer>
		<div class="footer_head row">
			<div class="col-md-3 col-sm-14">
				<h3>sec title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco.</p>
			</div>
			<div class="col-md-3 col-sm-14">
				<h3>sec title</h3>
				<p>title one</p>
				<p>title two</p>
				<p>title three</p>
			</div>
			<div class="col-md-3 col-sm-14">
				<h3>sec title</h3>
				<p>title one</p>
				<p>title two</p>
				<p>title three</p>
			</div>
			<div style="border: none;" class="col-md-3 col-sm-14">
				<h3>sec title</h3>
				<a href="#">title one</a><br>
				<a href="#">title two</a><br>
				<a href="#">title three</a>
			</div>
		</div>
		<div class="footer_footer">
			<p>® 2020 All Rights Reseved to Viroo</p>
		</div>	
	</footer>
</body>
</html>