<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>bootstrap | test</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<nav class="user_nav">
		<div class="nav_actions">
			<i>محمد البشاري</i>
			<i onclick="location.href='/gg'">
				<img src="/icons/plus.png">
			</i>
			<i onclick="location.href='/gg'">
				<img src="/icons/plus.png">
			</i>
			<i onclick="location.href='/gg'">
				<img src="/icons/plus.png">
			</i>
		</div>
	</nav>
	<center>
		<div class="row new_offer_area">
			<div class="col-md-5 col-12">
				dewewe
			</div>
			<div class="new_offer_container sdw col-md-6 col-12">
				<div class="new_offer_header">
					<h3>إنشاء حملة</h3>
				</div>
				<div class="new_offer_container">
					<div class="new_offer_filed_container">
						عنوان الحملة
						<input type="text" placeholder="ادخل النص هنا" name="">
					</div>
					<div class="new_offer_filed_container">
						عنوان الحملة
						<br>
						<textarea placeholder="ادخل النص هنا"></textarea>
					</div>
					<div class="row text-center new_offer_filed_container">
						<div class="col-6">
						تاريخ الانتهاء
							<input type="date" name="">
						</div>
						<div class="col-6">
						تاريخ الابتداء
							<input type="date" name="">
						</div>
					</div>
					<div class="text-center new_offer_filed_container">
					مستندات
						<input type="file" name="">
					</div>

					<div class="row text-center new_offer_filed_container">
						<div class="col-5">
						المبلغ
							<input type="checkbox" min="0" name="">
						</div>
						<div class="col-7">
						مستندات
							<input type="checkbox"  name="">
						</div>
					</div>
					<div class="text-center btn_container">
						<button type="submit" class="button btun btn-bill">حفظ الحملة</button>
					</div>
				</div>
			</div>
		</div>
	</center>
</body>
</html>