<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>bootstrap | test</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<script type="text/javascript" src="/js/bootstrap.js"></script>
	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
</head>
<body>
	<nav>
		<h2>logo</h2>
	</nav>
	<center>
		<div class="register_form_container">
			<div>
				<h2>التسجيل</h2>
			</div>
			<form>
				<div class="step_one step">
					<div class="steps_counter row">
						<div class="col-4">
							<i id="s3">3</i>
						</div>
						<div class="col-4">
							<i id="s2">2</i>
						</div>
						<div class="col-4 step_active">
							<i id="s1">1</i>
						</div>
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="steps_controler row">
						<div class="col-md-6 col-6">
							<button type="button" class="button btun btn-bill" id="to_step_two">التالي</button>
						</div>
						<div class="col-md-6 col-6">
						</div>
					</div>
				</div>

				<div class="step_two step">
					<div class="steps_counter row">
						<div class="col-4">
							<i id="s3">3</i>
						</div>
						<div class="col-4 step_active">
							<i id="s2">2</i>
						</div>
						<div class="col-4">
							<i id="s1">1</i>
						</div>
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="steps_controler row">
						<div class="col-md-6 col-6">
							<button type="button" class="button btun btn-bill" id="to_step_three">التالي</button>
						</div>
						<div class="col-md-6 col-6">
							<button type="button" class="button btun btn-bill btun_secondary" id="back_to_one">السابق</button>
						</div>
					</div>
				</div>

				<div class="step_three step">
					<div class="steps_counter row">
						<div class="col-4 step_active">
							<i id="s3">3</i>
						</div>
						<div class="col-4">
							<i id="s2">2</i>
						</div>
						<div class="col-4">
							<i id="s1">1</i>
						</div>
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="registering_field_container">
						<input type="text" placeholder="نص مؤقت" name="">
					</div>
					<div class="steps_controler row">
						<div class="col-md-6 col-6">
							<button type="submit" class="button btun btn-bill">سجل</button>
						</div>
						<div class="col-md-6 col-6">
							<button type="button" class="button btun btn-bill btun_secondary" id="back_to_two">السابق</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</center>		
	<footer>
		<div class="footer_head row">
			<div class="col-md-3 col-sm-14">
				<h3>sec title</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco.</p>
			</div>
			<div class="col-md-3 col-sm-14">
				<h3>sec title</h3>
				<p>title one</p>
				<p>title two</p>
				<p>title three</p>
			</div>
			<div class="col-md-3 col-sm-14">
				<h3>sec title</h3>
				<p>title one</p>
				<p>title two</p>
				<p>title three</p>
			</div>
			<div style="border: none;" class="col-md-3 col-sm-14">
				<h3>sec title</h3>
				<a href="#">title one</a><br>
				<a href="#">title two</a><br>
				<a href="#">title three</a>
			</div>
		</div>
		<div class="footer_footer">
			<p>® 2020 All Rights Reseved to Viroo</p>
		</div>	
	</footer>
</body>
</html>